<h1>  <%= @article.title %></h1>
<div id=article>
  <div class="entry">

<p>
  <b>Introduction:</b>
  <%= @article.introduction %>
</p>

<p>
  <b>Tag:</b>
  <%= @article.tag %>
</p>

<p>
  <b>Upload person:</b>
  <%= @article.upload_person %>
</p>

<p>
  <b>Post date:</b>
  <%= @article.post_date %>
</p>

<p>
  <b>Author:</b>
  <%= @article.author %>
</p>
 <%= link_to @article.title,  @article.article_file.url(:original, false) %> (<%= @article.article_file_content_type%>)  

  </div>


</div>
<h2>Comments</h2> <%= render @article.comments %> 

<h2>Add a comment:</h2> <%= render "comments/form" %> 


<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to_function "返回上一页", "history.go(-1)" %> 
