<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>文档管理系统</title>
  <%= stylesheet_link_tag "scaffold","article", :media => "all" %>
  <%= javascript_include_tag :defaults %>
</head>

  <div id="banner">
                文档管理系统
                <div id ="u">
                 <%if  current_user %>
                欢迎你，<%= current_user.email %> 
                <%= link_to 'logout', user_session_path, :method => 'delete' %> 
                <% else %>
                <%=link_to '登录',sigin_path%>
                 <% end%>
                 </div>
  </div>
  <div id="columns">
     <div id="side">

       <%= link_to '全部', '/' %><br/>
       <% ['科技奖励','知识产权','科技创新'].each do |tag|%>
      <%= link_to tag, tag_with_articles_path(:tag=>tag) %><br/>
     <% end %>
     <%= link_to '搜索', :controller => "search", :action => "search" %>

     </div>


  <div id="main">

    <%= yield :layout %>
  </div>
</div>
</body>
</html>

